<form [formGroup]="createShortUrlForm" (ngSubmit)="onSubmit()" [ngClass]="{'low-opacity': isLoading()}" class="col-sm-10 offset-sm-1 col-12">
    <fieldset [disabled]="isLoading()">
        <div class="row justify-content-center text-center">
            <div class="text-url-create fw-bold">
                <legend data-test="form-legend">{{'create-url.form.enter-any-url' | transloco}}</legend>
            </div>
        </div>
        <div class="form-group">
            <textarea formControlName="longUrlValue" type="text" placeholder="{{'create-url.form.placeholder' | transloco}}" class="form-control input-md text-center border-url-create" style="height:60px" [ngClass]="{'text-input-create': !showValidationErrors, 'is-invalid': showValidationErrors, 'is-valid': showIsValid }"
                (ngModelChange)="onLongUrlValueChanged()" data-test="form-text-input">
            </textarea>
            @if (showValidationErrors) {
                <div class="row justify-content-center" data-test="form-error-message">
                    <p *ngIf="longUrlValue.errors?.required" class="small my-1 text-danger text-center">{{'create-url.form.err-empty' | transloco}}</p>
                    <p *ngIf="longUrlValue.errors?.pattern" class="small my-1 text-danger text-center">{{'create-url.form.err-invalid' | transloco}}</p>
                    <p *ngIf="serverErrorMsg()" class="small my-1 text-danger text-center">{{serverErrorMsg()}}</p>
                </div>
            } @else {
                <div class="row">
                    <p class="small my-1">&nbsp;</p>
                </div>
            }
        </div>

        <div class="d-grip gap-2">
            <button class="col-sm-10 col-12 offset-sm-1 btn btn-url-create btn-lg btn-block" type="submit" [ngClass]="{'disabled': showValidationErrors}" data-test="form-submit-button">
                <em class="bi bi-gear-fill"></em>&nbsp;&nbsp;
                {{'create-url.form.shorten' | transloco}}
            </button>
        </div>
    </fieldset>
</form>

@if (isLoading()) {
    <div class="url-form-spinner" data-test="form-spinner">
        <mat-spinner/>
    </div>
}