<div class="mx-5 d-flex flex-column flex-md-row justify-content-md-between">
    <div class="d-flex flex-column text-center">
        <h3 class="mt-auto mb-0" data-test="secondary-title">{{'list-urls.title' | transloco}}</h3>
    </div>
    @if (shortUrlDetailsPage(); as shortUrlDetailsPage) {
        @if (shortUrlDetailsPage.count >= 0) {
            <div class="text-center">
                <span class="page-info mt-3 mt-md-0 text-primary fw-bold d-block" data-test="info-table-url-list" *ngIf="!isLoading() || shortUrlDetailsPage.pageCount > 0">
                    {{'list-urls.page-on-nbPages-count-results' | transloco:{'page': shortUrlDetailsPage.page + 1, 'nbPages': shortUrlDetailsPage.pageCount, 'count': shortUrlDetailsPage.count} }}
                </span>
                <div class="d-flex justify-content-center" data-test="pagination-table-url-list">
                    <mat-paginator
                        (page)="pageChange($event)"
                        [length]="shortUrlDetailsPage.count"
                        [pageSize]="shortUrlDetailsPage.size"
                        [showFirstLastButtons]="true"
                        [pageSizeOptions]="[]"
                        [hidePageSize]="true"
                        [disabled]="isLoading()"
                        [pageIndex]="shortUrlDetailsPage.page"
                        data-test="pagination-table-url-list"
                        >
                    </mat-paginator>
                </div>
            </div>
        }
    }
</div>

<div class="mt-5 mx-1" [ngClass]="{'low-opacity': isLoading()}">
    <table class="table table-striped table-hover align-middle" aria-describedby="List of created URLs" data-test="table-url-list">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-3 col-md-2">
                    <div class="pr-0">{{'list-urls.number' | transloco}}</div>
                </th>
                <th scope="col" class="col-6 col-md-7">
                    <div class="text-center">{{'list-urls.long-url' | transloco}}</div>
                </th>
                <th colspan="2" scope="col" class="col-3">
                    <div class="text-center">{{'list-urls.created' | transloco}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (shortUrlDetailsPage(); as shortUrlDetailsPage) {
                @for (urlDetails of shortUrlDetailsPage.elements; track urlDetails.shortUrlId) {
                    <tr [style.height]="ROW_HEIGHT_EM + 'em'" class="d-flex" data-test="row-table-url-list">
                        <th scope="row" class="col-3 col-md-2 d-flex flex-column">
                            <a class="my-auto fw-bold word-wrap" href="{{ urlDetails.shortUrl | addProtocolUrl }}" target="_blank " data-test="id-table-url-list">
                                {{ urlDetails.shortUrlId }}
                            </a>
                        </th>
                        <td class="col-6 col-md-7 d-flex flex-column text-center overflow-auto">
                            <a class="my-auto word-wrap" target="_blank " href="{{urlDetails.longUrl | addProtocolUrl}}" [class.text-smaller]="urlDetails.longUrl.length > 50">
                                {{urlDetails.longUrl | simplifyUrl}}
                            </a>
                        </td>
                        <td class="col-2 d-flex flex-column text-center text-smaller">
                            <div class="mt-auto">
                                {{ urlDetails.creationTimestamp | translocoDate: { dateStyle: 'medium'} }}
                            </div>
                            <div class="mb-auto text-nowrap">
                                {{ urlDetails.creationTimestamp | translocoDate: { timeStyle: 'medium'} }}
                            </div>
                        </td>
                        <td class="col-1 d-flex flex-column text-center px-0 px-sm-1 px-md-2">
                            <button class="my-auto btn btn-danger btm-sm px-0 px-sm-1" (click)="openConfirmationDeleteUrlDialog(urlDetails.shortUrlId)" [disabled]="isLoading()" data-test="trash-button-table-url-list">
                                <em class="bi bi-trash-fill"></em>
                            </button>
                        </td>
                    </tr>
                }
                @if (serverErrorMsg() || shortUrlDetailsPage.size - shortUrlDetailsPage.elements.length > 0 || shortUrlDetailsPage.elements.length === 0) {
                    <tr [style.height]="(shortUrlDetailsPage.size - shortUrlDetailsPage.elements.length) * ROW_HEIGHT_EM + 'em'" class="d-flex no-more-results">
                        <th scope="row" class="col-3 col-md-2">&nbsp;</th>
                        <td class="col-6 col-md-7">
                            <div class="text-center mt-2">
                                @if (serverErrorMsg()) {
                                    <div>
                                        <div class="text-danger fw-bold" data-test="error-table-url-list">{{serverErrorMsg()}}</div>
                                        <button class="btn btn-secondary" (click)="pageChange();" [disabled]="isLoading()">
                                            <em class="bi bi-arrow-counterclockwise"></em>{{'list-urls.retry' | transloco}}
                                        </button>
                                    </div>
                                } @else {
                                    <span class="text-secondary">
                                        {{'list-urls.no-more-results' | transloco}}
                                    </span>
                                }
                            </div>
                        </td>
                        <td class="col-3" colspan="2">&nbsp;</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (isLoading()) {
        <div class="url-form-spinner" data-test="spinner-table-url-list">
            <mat-spinner/>
        </div>
    }
</div>

<ng-template #callAPIDialog>
    <h2 matDialogTitle data-test="dialog-title">{{'list-urls.delete-url' | transloco}}</h2>
    <mat-dialog-actions>
        <div class="w-100 text-center">
            <button mat-button matDialogClose="no" class="btn btn-secondary mx-3" data-test="dialog-button-No">
               {{'list-urls.no' | transloco}}
            </button>
            <button mat-button matDialogClose="yes" class="btn btn-danger mx-3" data-test="dialog-button-Yes">
                {{'list-urls.yes' | transloco}}
            </button>
        </div>
    </mat-dialog-actions>
</ng-template>