td div,
th div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

tr button.btn-danger {
    max-height: 3em;
    width: 3em;
    max-width: 80%;
}

.no-more-results,
.no-more-results:hover {
    background-color: transparent !important;
    --bs-table-hover-bg: transparent !important;
    --bs-table-striped-bg: transparent !important;
}