footer {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 14px;
    background-color: #f2f2f2;
    vertical-align: middle;
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
}

footer div {
    height: 100%;
    margin-top: 3px;
}

footer a {
    color: #70757a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}