<footer>
    <div class="row text-center mb-2 align-self-center">
        <div class="row col-sm-6 col-12 align-self-center">
            <div class="col-6 align-self-center">
                <a [matMenuTriggerFor]="languageMenu" style="cursor: pointer;" data-test="footer-link-1">{{'languages.' + currentLanguage() | transloco }}</a>
                <mat-menu #languageMenu="matMenu" yPosition="above" class="data-test-footer-language-menu">
                    
                    @for (lang of otherLanguages(); track lang) {
                        <button mat-menu-item (click)="changeLanguage(lang)">
                            {{'languages.' + lang | transloco }}
                        </button>
                    }
                </mat-menu>
            </div>
            <div class="col-6 align-self-center">
                <a href="{{BASE_URL}}/swagger-ui.html" target="_blank" rel="noopener" data-test="footer-link-2">
                    {{'footer.api-rest' | transloco}}
                </a>
            </div>
        </div>

        <div class="row col-sm-6 col-12 align-self-center">

            <div class="col-6 align-self-center">
                <a routerLink="/admin" data-test="footer-link-3">{{'footer.administration' | transloco}}</a>
            </div>
            <div class="col-6 align-self-center">
                <a [matMenuTriggerFor]="copyrightMenu" style="cursor: pointer;" data-test="footer-link-4">{{'footer.copyright' | transloco}}</a>
                <mat-menu #copyrightMenu="matMenu" yPosition="above" class="data-test-footer-copyright-menu">
                    <a href="https://gitlab.com/sylvainstoesel-urlshortener/" target="_blank" rel="noopener" mat-menu-item>
                        {{'footer.repo.main' | transloco}}
                    </a>
                    <a href="https://gitlab.com/sylvainstoesel-urlshortener/urlshortener-backend" target="_blank" rel="noopener" mat-menu-item>
                        {{'footer.repo.backend' | transloco}} (API v{{apiVersion()}})
                    </a>
                    <a href="https://gitlab.com/sylvainstoesel-urlshortener/urlshortener-frontend" target="_blank" rel="noopener" mat-menu-item>
                        {{'footer.repo.frontend' | transloco}} (SPA v{{spaVersion()}})
                    </a>
                </mat-menu>
            </div>
        </div>
    </div>
</footer>