@if (shortUrlDetails(); as shortUrlDetails) {
    <div class="row justify-content-center">
        <div class="text-center fw-bold text-nowrap message" data-test="redirect-message-2">
            {{'redirect.to' | transloco}}
            <u>{{shortUrlDetails.longUrl | simplifyUrl | truncate: 40}}</u> {{'redirect.seconds' | transloco: {'count': secondsLeft()} }}
        </div>
        @if (secondsLeft() <= 1) {
            <div class="text-center">
                {{'redirect.if-nothing-happens' | transloco}}
                <a href="{{shortUrlDetails.longUrl | addProtocolUrl}}">{{'redirect.click-here' | transloco}}</a>.
            </div>
        }
    </div>
} @else if (!serverErrorMsg()) {
    <div>
        <div class="row justify-content-center message" data-test="redirect-message-1">
            {{'redirect.retrieving' | transloco}}
        </div>
        <div class="row justify-content-center text-center">
            <div class="spinner-border" role="status" data-test="redirect-spinner"></div>
            <span class="sr-only">{{'loading.loading' | transloco}}</span>
        </div>
    </div>
} @else {
    <div class="row justify-content-center text-danger" data-test="redirect-error-message">
        {{serverErrorMsg()}}
    </div>
}