<div>
    @if (shortUrlDetailsCreated) {
        <app-create-short-url-response [shortUrlDetailsCreated]="shortUrlDetailsCreated" (whenGenerateAnotherUrl)="onGenerateAnotherUrl()"/>
    } @else {
        <app-create-short-url-form (whenFormSubmitted)="onFormSubmitted($event)"/>
    }
</div>