h1,
h1>a {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: black;
}

.mb-6 {
    margin-bottom: 5rem !important;
}