<h1 class="pb-4"><a routerLink="/" data-test="app-title">{{'app.title' | transloco}}</a></h1>

@if (isLoading()) {
    <app-loading></app-loading>
} @else if (serverErrorMsg()) {
    <div class="text-center">
        {{'app.server-unavailable' | transloco}}
        <div class="text-danger" data-test="app-error">
            <img src="/assets/img/link_error.png" alt="Error" width="48px" height="48px" /> {{serverErrorMsg()}}
        </div>
    </div>
} @else {
    <div class="mb-6">
        <router-outlet></router-outlet>
    </div>
}


<app-footer></app-footer>