<form [formGroup]="getLongUrlForm" (ngSubmit)="onSubmit()" [ngClass]="{'low-opacity': isLoading()}" class="col-sm-10 offset-sm-1 col-12">
    <fieldset [disabled]="isLoading()">
        <div class="row justify-content-center text-center">
            <div class="text-url-get fw-bold">
                <legend data-test="form-legend">{{'get-url.form.enter-short-url' | transloco}}</legend>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-10 col-12 offset-sm-1 col-md-8 offset-md-2">
                    <input formControlName="shortUrlValue" type="text" required="required" placeholder="{{shortUrlPlaceholder()}}" class="form-control input-md text-center border-url-get" [ngClass]="{'is-invalid': showValidationErrors, 'is-valid': showIsValid }" (ngModelChange)="onShortUrlValueChanged()"
                        data-test="form-text-input" />
                </div>
            </div>
            @if (showValidationErrors) {
                <div class="row justify-content-center" data-test="form-error-message">
                    <p *ngIf="shortUrlValue.errors?.required" class="small my-1 text-danger text-center">{{'get-url.form.err-empty' | transloco}}</p>
                    <p *ngIf="shortUrlValue.errors?.pattern" class="small my-1 text-danger text-center">{{'get-url.form.err-invalid' | transloco}}</p>
                    <p *ngIf="serverErrorMsg()" class="small my-1 text-danger text-center">{{serverErrorMsg()}}</p>
                </div>
            } @else {
                <div class="row">
                    <p class="small my-1">&nbsp;</p>
                </div>
            }
        </div>
        <div class="d-grid gap-2">
            <button class="col-xs-10 col-12 offset-xs-1 btn btn-url-get btn-lg" type="submit" [ngClass]="{'disabled': showValidationErrors}" data-test="form-submit-button">
                <em class="bi bi-link"></em>&nbsp;&nbsp;
                {{'get-url.form.retrieve' | transloco}}
            </button>
        </div>
    </fieldset>
</form>

@if (isLoading()) {
    <div class="url-form-spinner" data-test="form-spinner">
        <mat-spinner/>
    </div>
}