
@if (shortUrlDetailsObtained) {
    <div>
        <div class="row justify-content-center text-url-get" data-test="form-response-label">
            {{'get-url.response.your-long-url' | transloco}}
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-12 col-md-10 col-md-offset-1 justify-content-center text-center">
                <a class="long-url text-url-get word-wrap" target="_blank" rel="noopener" href="{{shortUrlDetailsObtained.longUrl | addProtocolUrl}}" data-test="form-response-link">{{shortUrlDetailsObtained.longUrl}}</a>
            </div>
        </div>
        <div class="row mt-3">
            <button class="col-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3 btn btn-outline-url-get btn-sm" (click)="copyToClipboard();">
                <small>
                    <em class="bi bi-tag-fill"></em>&nbsp;&nbsp;
                    {{'app.copy-clipboard' | transloco}}
                </small>
            </button>
        </div>
        <div class="row mt-3">
            <button class="col-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3 btn btn-url-get btn-md btn-block" (click)="findAnotherUrl();">
                <em class="bi bi-box-arrow-left"></em>&nbsp;&nbsp;
                {{'get-url.response.find-another' | transloco}}
            </button>
        </div>
    </div>
}