<div class="row text-center justify-content-center mt-5">
    <mat-progress-spinner [mode]="spinnerMode()" [value]="timer()*4" data-test="loading-spinner" diameter="100" strokeWidth="10"></mat-progress-spinner>
</div>

@if (timer() > 2) {
    <div class="row justify-content-center text-center text-loading mt-2 fw-bold" data-test="loading-text">
        {{'loading.server-starting' | transloco}}
        <br /> {{'loading.please-wait' | transloco}}
    </div>
}

@if (timer() > 5) {
    <div class="row justify-content-center text-center text-loading mt-2 px-5">
        {{'loading.explanation' | transloco}}
    </div>
}