@if (shortUrlDetailsCreated) {
    <div>
        <div class="row justify-content-center text-url-create" data-test="form-response-label">
            {{'create-url.response.your-short-url' | transloco}}
        </div>
        <div class="row justify-content-center mt-3">
            <a class="short-url text-url-create text-center" target="_blank" rel="noopener" href="{{shortUrlDetailsCreated.shortUrl | addProtocolUrl}}" data-test="form-response-link">
                {{shortUrlDetailsCreated.shortUrl | simplifyUrl}}
            </a>
        </div>
        <div class="row mt-3">
            <button class="col-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3 btn btn-outline-url-create btn-sm" (click)="copyToClipboard();">
                <small>
                    <em class="bi bi-tag-fill"></em>&nbsp;&nbsp;
                    {{'app.copy-clipboard' | transloco}}
                </small>
            </button>
        </div>
        <div class="row mt-3">
            <button class="col-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3 btn btn-url-create btn-md btn-block" (click)="generateAnotherUrl();">
                <em class="bi bi-box-arrow-left"></em>&nbsp;&nbsp;
            {{'create-url.response.shorten-another' | transloco}}
        </button>
        </div>
    </div>
}