/***
 The two custom colors associated with creating and getting URLs
***/
@use "sass:map";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
$url-get: rgb(13, 27, 80);
$url-create: rgb(10, 80, 45);
$primary: rgb(15, 41, 150);
$theme-colors: map.merge($theme-colors, ( "primary": $primary, "url-create": $url-create, "url-get": $url-get));
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

/***
Bootstrap custom
***/

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

/***
Theme colors
***/

.form-control.border-url-get:hover,
.form-control.border-url-get:focus {
    outline: 0 !important;
    border-color: $url-get !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $url-get !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $url-get !important;
}

.form-control.border-url-create:hover,
.form-control.border-url-create:focus {
    outline: 0 !important;
    border-color: $url-create !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $url-create !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $url-create !important;
}

.mat-mdc-progress-spinner circle,
.mat-mdc-progress-spinner circle {
    stroke: $primary !important;
}

.text-loading {
    color: $primary;
}


/**
Angular Material customization
**/

.mat-mdc-paginator-range-label {
    display: none !important;
}
.mat-mdc-icon-button, .mat-mdc-button-base {
    //padding: 12px !important;
    --mdc-icon-button-icon-size: 24px !important;
    //--mdc-icon-button-state-layer-size: 32px !important;
}

html {
    --mat-paginator-enabled-icon-color: rgba(15, 41, 150, 0.87) !important;
    --mat-paginator-disabled-icon-color: rgba(15, 41, 150, 0.12) !important;
}

/**
Other
**/

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: arial, sans-serif;
}

.word-wrap {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.url-form-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.low-opacity {
    opacity: 0.4;
}

::placeholder {
    color: lightgray !important;
    opacity: 1 !important;
}

:-ms-input-placeholder {
    color: lightgray !important;
}

a.page-link {
    padding: 0.25rem 0.65rem !important;
}

ul.pagination {
    margin-bottom: 0 !important;
}

.text-smaller {
    font-size: 0.9rem;
}
