<div>
    @if (shortUrlDetailsObtained) {
        <app-get-long-url-response [shortUrlDetailsObtained]="shortUrlDetailsObtained" (whenFindAnotherUrl)="onFindAnotherUrl()"/>
    } @else {
        <app-get-long-url-form (whenFormSubmitted)="onFormSubmitted($event)"/>
    }
</div>