.panel-title {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: line;
}

.panel-title>div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-right: 15px;
}

.panel-title .bi {
    font-size: 3.5em;
}