<mat-accordion data-test="accordion">
    <mat-expansion-panel [expanded]="createUrlPanelOpen()" (opened)="createUrlPanelOpen.set(true)" (closed)="createUrlPanelOpen.set(false)" data-test="accordion-panel-1">
        <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'70px'">
            <mat-panel-title>
                <div class="panel-title text-url-create">
                    <div>
                        <em class="bi bi-link-45deg"></em>
                    </div>
                    <div data-test="accordion-panel-title">{{'accordion.shorten-url' | transloco}}</div>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                @if (!createUrlPanelOpen) {
                    <div class="d-none d-lg-block">
                        <div class="d-flex align-items-center h-100">
                            {{'accordion.shorten-url-desc' | transloco}}
                        </div>
                    </div>
                }
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-create-short-url-panel></app-create-short-url-panel>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="getUrlPanelOpen()" (opened)="getUrlPanelOpen.set(true)" (closed)="getUrlPanelOpen.set(false)" data-test="accordion-panel-2">
        <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'70px'">
            <mat-panel-title>
                <div class="panel-title text-url-get">
                    <div>
                        <em class="bi bi-link-45deg"></em>
                    </div>
                    <div data-test="accordion-panel-title">{{'accordion.find-url' | transloco}}</div>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                @if (!getUrlPanelOpen) {
                    <div class="d-none d-lg-block">
                        <div class="d-flex align-items-center h-100">
                            {{'accordion.find-url-desc' | transloco}}
                        </div>
                    </div>
                }
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-get-long-url-panel></app-get-long-url-panel>
    </mat-expansion-panel>
</mat-accordion>